<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>OOOOPPPPPPSSSSSSS!
            Page not Found
        </h1>
        <a href="/">Click here to redirect--></a>
    </main>

<%- include('includes/end.ejs') %>